
body{
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color:rgba(255, 255, 221, 0.678)
}
img{
    height: 150px;
    width: 150px;
    border-radius: 200px
}
.flex_box{
    display: flex;
    margin: 10px;
}
.left_side{
    margin: 20px;

}
.right_side {
    margin-top: 10px;
    line-height: 20px;
    
}
.content{
    line-height: 30px;
    margin: 10px;
}
.sub_skill {
    margin-left: 20px;
}
.links {
    display: flex
}
a:hover{
    border: 1px solid;
}